<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-7">
        <search-list (change)="criteriaChange($event)"></search-list>
      </div>
      <div class="col btnThemMoi">
        <button class="btn btn-success pull-right" data-toggle="modal" (click)="myModal.show()">
          <span class="fa fa-plus"></span> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Khu vực hiển thị ảnh vừa chọn -->
    <div class="row">
      
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/965/doan-truong-Cao-dang-ky-thuat-cong-nghe-Quy-Nhon--/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/CTTN2018_003.jpg" class="position-relative" width="100%" height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Đoàn trường Cao đẳng kỹ thuật công nghệ Quy Nhơn thực hiện công trình thanh niên năm 2018</p>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/941/doan-truong-Cao-dang-Ky-thuat-cong-nghe-Quy-Nhon--/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/HMTN3-13092017-001.jpg" class="position-relative" width="100%" height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Đoàn trường Cao đẳng Kỹ thuật công nghệ Quy Nhơn tổ chức hiến máu tình nguyện đợt III - năm 2017</p>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/977/Huong-ung-thang-cong-nhan--va-cac-hoat-dong-mung-s/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/MT%20Mung%20SN%20Bac%202018_005.JPG" class="position-relative" width="100%"
            height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Hưởng ứng tháng công nhân và các hoạt động mừng sinh nhật Bác năm 2018</p>
          </div>
          <!--/.col-->
        </a>
      </div>
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/965/doan-truong-Cao-dang-ky-thuat-cong-nghe-Quy-Nhon--/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/CTTN2018_003.jpg" class="position-relative" width="100%" height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Đoàn trường Cao đẳng kỹ thuật công nghệ Quy Nhơn thực hiện công trình thanh niên năm 2018</p>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/941/doan-truong-Cao-dang-Ky-thuat-cong-nghe-Quy-Nhon--/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/HMTN3-13092017-001.jpg" class="position-relative" width="100%" height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Đoàn trường Cao đẳng Kỹ thuật công nghệ Quy Nhơn tổ chức hiến máu tình nguyện đợt III - năm 2017</p>
          </div>
        </a>
      </div>


      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/977/Huong-ung-thang-cong-nhan--va-cac-hoat-dong-mung-s/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/MT%20Mung%20SN%20Bac%202018_005.JPG" class="position-relative" width="100%"
            height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Hưởng ứng tháng công nhân và các hoạt động mừng sinh nhật Bác năm 2018</p>
          </div>
          <!--/.col-->
        </a>
      </div>
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/965/doan-truong-Cao-dang-ky-thuat-cong-nghe-Quy-Nhon--/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/CTTN2018_003.jpg" class="position-relative" width="100%" height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Đoàn trường Cao đẳng kỹ thuật công nghệ Quy Nhơn thực hiện công trình thanh niên năm 2018</p>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 imgMarginBot">
        <a href="http://cdktcnqn.edu.vn/tin/doan-thanh-nien/941/doan-truong-Cao-dang-Ky-thuat-cong-nghe-Quy-Nhon--/">
          <img src="http://cdktcnqn.edu.vn/Media/Images/HMTN3-13092017-001.jpg" class="position-relative" width="100%" height="100%">
          <div class="col position-absolute text-center" style="z-index: 999; left: 0px; bottom: -15px">
            <p> Đoàn trường Cao đẳng Kỹ thuật công nghệ Quy Nhơn tổ chức hiến máu tình nguyện đợt III - năm 2017</p>
          </div>
        </a>

      </div>
    </div>

    <div bsModal #myModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ modalTitle }}</h4>
            <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="text-input">Tên hoạt động</label>
                <div class="col-md-10">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhập tên hoạt động">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="textarea-input">Nội dung hoạt động</label>
                <div class="col-md-10">
                  <textarea id="textarea-input" name="textarea-input" rows="4" class="form-control" placeholder="Nhập nội dung hoạt động"></textarea>
                </div>
              </div>
              <div class="=form-group row">
                <label class="col-md-2 col-form-label" for="email-input">Hiển thị trên Website</label>
                <div class="col-md-10">
                  <label class="switch switch-label switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="Bật" data-unchecked="Tắt"></span>
                  </label>
                </div>
              </div>
              <!-- thay thành upfile ảnh -->
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="file-multiple-input">Hình ảnh hoạt động</label>
                <div class="col-md-10">
                  <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm">
              <span class="fa fa-plus"></span> Cập nhật</button>
            <button type="button" class="btn btn-link btn-sm" (click)="myModal.hide()">
              <span class="fa fa-plus"></span> Hủy</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>
<br>

<!-- Khu vực hiển thị ảnh vừa chọn -->
