<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-7">
        <search-list (change)="criteriaChange($event)"></search-list>
      </div>
      <div class="col btnThemMoi">
        <button class="btn btn-success pull-right" data-toggle="modal" (click)="myModal.show()">
          <span class="fa fa-plus"></span> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-sm headerTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Số hiệu</th>
            <th>Trích yếu</th>
            <th>Lượt xem</th>
            <th>Lượt tải</th>
            <th>Kích hoạt</th>
            <th>Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i = index;let j of [1,2,3,4,5,6,7,8,9,10]">
            <td class="text-center">{{i+1}}</td>
            <td item-width="60%">THÔNG TƯ Ban hành Quy định về liên kết đào tạo trình độ đại học</td>
            <td class="text-center">07/2017/TT-BGDĐT</td>
            <td class="text-center">10</td>
            <td class="text-center">5</td>
            <td class="text-center">
              <label class="switch switch-label switch-primary">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="Bật" data-unchecked="Tắt"></span>
              </label>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-primary btn-sm">
                <span class="cui-pencil icons"></span>
              </button>&nbsp;
              <button type="button" class="btn btn-danger btn-sm">
                <span class="fa fa-trash icons"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div bsModal #myModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Số hiệu văn bản:</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhập số hiệu văn bản">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Trích yếu:</label>
            <div class="col-md-9">
              <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Nội dung"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Loại văn bản</label>
            <div class="col-md-9">
              <select id="select1" name="select1" class="form-control">
                <option value="0">Lựa chọn loại văn bản</option>
                <option value="1">Thông tư</option>
                <option value="2">Quyết định</option>
                <option value="3">Thông báo</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Cơ quan ban hành:</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhập cơ quan ban hành">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ngày ký:</label>
            <div class="col-md-9">
              <input type="date" id="text-input" name="text-input" class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ngày ban hành:</label>
            <div class="col-md-9">
              <input type="date" id="text-input" name="text-input" class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ngày hiệu lực:</label>
            <div class="col-md-9">
              <input type="date" id="text-input" name="text-input" class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Người ký:</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhập người ký">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input">Hiển thị trích yếu</label>
            <div class="col-md-9">
              <label class="switch switch-label switch-primary">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="Bật" data-unchecked="Tắt"></span>
              </label>
            </div>
            <label class="col-md-3 col-form-label" for="email-input">Kích hoạt</label>
            <div class="col-md-9">
              <label class="switch switch-label switch-primary">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="Bật" data-unchecked="Tắt"></span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-multiple-input">File đính kèm</label>
            <div class="col-md-9">
              <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm">
          <span class="fa fa-plus"></span> Cập nhật</button>
        <button type="button" class="btn btn-link btn-sm" (click)="myModal.hide()">
          <span class="fa fa-plus"></span> Hủy</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->